		</article>
		<!-- /article -->
		</main>
		<!-- /.l-primary -->
		<footer class="l-footer">
			<div class="l-footer__inner">
				<div class="l-footer__contents">
					<div class="l-footer__col l-footer__left">
						<img src="<%= getRelativePath('/images/common/imgfooter.png'); %>" alt="Footer imofes">
					</div>
					<div class="l-footer__col l-footer__middle">
						<div class="l-footer__imgtop"><img src="<%= getRelativePath('/images/common/ftimgtop.png'); %>" alt="マリノアシティ福岡"></div>
						<div class="l-footer__contact">
							<div class="l-footer__bnr"><a href="https://www.marinoacity.com/" target="_blank"><img src="./images/common/marinoa.png" alt="マリノアシティ福岡"></a></div>
							<div class="l-footer__bnr"><a href="https://www.instagram.com/marinoacity/?hl=ja" target="_blank"><img src="./images/common/ins.png" alt="instagram"></a></div>
						</div>
						<div class="l-footer__imgbottom"><img src="<%= getRelativePath('/images/common/ft-text.png'); %>" alt="マリノアシティ福岡で検索"></div>
					</div>
					<div class="l-footer__col l-footer__right">
						<ul class="l-footer__list">
							<li class="l-footer__item"><span class="l-footer__text">■会場：マリノアシティ福岡 アウトレットⅢ棟前広場<br>　　　　福岡県福岡市西区小戸2-12-30</span></li>
							<li class="l-footer__item"><span class="l-footer__text">■主催：JA全農おおいた</span></li>
							<li class="l-footer__item"><span class="l-footer__text">■協力：マリノアシティ福岡</span></li>
							<li class="l-footer__item"><span class="l-footer__text">■事務局：株式会社ITP 九州事業部<br>　お問合せ： &#102;&#117;&#107;&#117;&#111;&#107;&#97;&#64;&#105;&#116;&#112;&#46;&#99;&#111;&#46;&#106;&#112;</span></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- /.l-footer -->
	</div>
	<!-- /.l-all -->
	<script src="<%= getRelativePath('/js/jquery-3.6.0.min.js'); %>"></script>
	<script src="<%= getRelativePath('/js/script.js'); %>"></script>
	</body>
</html>