<%- include('_config', { extend: { relativePath: '.' , page: { id: 'index' , title: 'TOPページ' ,
	description: '九州連携・おおいた農産物フェア いもフェスinマリノアシティ福岡　大分県産高糖度さつまいも甘太くんがやって来る！焼いもキッチンカー5台が大集合!おおいた農産物マルシェも同時開催！2023.3.4(土)・5(日)10:00～17:30、マリノアシティ福岡アウトレットⅢ棟前広場'
	, } } }); %><%- include('_header'); %>
		<h2 class="u-none">いもフェスinマリノアシティ福岡</h2>
		<section class="p-index__info">
			<h2 class="u-none">Section Info</h2>
			<div class="l-inner">
				<div class="p-index__info__img">
					<img src="<%= getRelativePath('/images/index/top_title.png'); %>"
						alt="焼いもキッチンカー5台が大集合!おおいた農産物マルシェも同時開催！">
					<img src="<%= getRelativePath('/images/index/top_date.png'); %>"
						alt="2023.3.4(土)・5(日)10:00～17:30、マリノアシティ福岡アウトレットⅢ棟前広場">
				</div>
				<div class="p-index__info__text">
					<ul class="p-index__info__text__list">
						<li>■主催：JA全農おおいた</li>
						<li>■協力：マリノアシティ福岡</li>
						<li>■事務局：株式会社ITP　九州事業部</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="p-index__feature">
			<div class="l-inner">
				<div class="c-feature">
					<h2 class="c-feature__title"><img src="<%= getRelativePath('/images/index/info.png'); %>"
							alt="焼いもキッチンカー5台がマリノアシティ福岡に大集合！"></h2>
					<div class="c-feature__list">
						<div class="c-feature__item">
							<div class="c-feature__row --title">
								<img class="c-feature__col --title"
									src="<%= getRelativePath('/images/index/imgA.png'); %>" alt="焼き芋屋 月影">
								<a class="c-feature__col --ins" href="https://www.instagram.com/imoya.tsukikage/"
									target="_blank">
									<img src="<%= getRelativePath('/images/index/imgA_insta.png'); %>"
										alt="焼き芋屋 月影 Instagram">
								</a>
							</div>
							<div class="c-feature__row">
								<div class="c-feature__colone">
									福岡市の中心部で主に出店している、福岡を代表する人気の焼き芋専門キッチンカー。ソルティハニーチーズ、めんたいマヨチーズ、焼き芋アイスなど、スイーツ系から食事系までとにかく多彩なメニューが魅力のお店です。
								</div>
								<div class="c-feature__coltwo"><img
										src="<%= getRelativePath('/images/index/box1_0.png'); %>" alt="焼き芋屋 月影"></div>
							</div>
							<div class="c-feature__row --three">
								<img src="<%= getRelativePath('/images/index/box1.png'); %>" alt="焼き芋屋 月影">
							</div>
						</div>
						<div class="c-feature__item">
							<div class="c-feature__row --title">
								<img class="c-feature__col --title"
									src="<%= getRelativePath('/images/index/imgB.png'); %>" alt="ひらぎさんのおいも">
								<a class="c-feature__col --ins" href="https://www.instagram.com/hiragisan.no.oimo/"
									target="_blank">
									<img src="<%= getRelativePath('/images/index/imgB_insta.png'); %>"
										alt="ひらぎさんのおいも Instagram">
								</a>
							</div>
							<div class="c-feature__row">
								<div class="c-feature__colone">
									福岡市東区を拠点に出店。焼いもに対する愛情と探求心を強く感じるキッチンカー。多彩な種類の焼いもづくりにチャレンジ。加えて「おいもシュークリーム」や「おいものクリームブリュレ」など各種スイーツメニューも好評です。
								</div>
								<div class="c-feature__coltwo"><img
										src="<%= getRelativePath('/images/index/box2_0.png'); %>" alt="ひらぎさんのおいも"></div>
							</div>
							<div class="c-feature__row --three">
								<img src="<%= getRelativePath('/images/index/box2.png'); %>" alt="ひらぎさんのおいも">
							</div>
						</div>
						<div class="c-feature__item">
							<div class="c-feature__row --title">
								<img class="c-feature__col --title"
									src="<%= getRelativePath('/images/index/imgC.png'); %>" alt="壺やきいも大牟田はにぽて">
								<a class="c-feature__col --ins" href="https://www.instagram.com/oomuta.hanipote/"
									target="_blank">
									<img src="<%= getRelativePath('/images/index/imgC_insta.png'); %>"
										alt="壺やきいも大牟田はにぽて Instagram">
								</a>
							</div>
							<div class="c-feature__row">
								<div class="c-feature__colone">
									大牟田市を中心に出店。「大牟田初！壺やきいも専門店」がキャッチフレーズ。「やきいもクリームブリュレ」や「やきいも生クリームメープル」、「やきいも台湾カステラ」「やきいもプリン」など豊富な品ぞろえが自慢です。
								</div>
								<div class="c-feature__coltwo"><img
										src="<%= getRelativePath('/images/index/box3_0.png'); %>" alt="壺やきいも大牟田はにぽて">
								</div>
							</div>
							<div class="c-feature__row --three">
								<img src="<%= getRelativePath('/images/index/box3.png'); %>" alt="壺やきいも大牟田はにぽて">
							</div>
						</div>
						<div class="c-feature__item">
							<div class="c-feature__row --title">
								<img class="c-feature__col --title"
									src="<%= getRelativePath('/images/index/imgD.png'); %>"
									alt="kitchen car SOUR （サワー）">
								<a class="c-feature__col --ins" href="https://www.instagram.com/sour_kitchen_car/"
									target="_blank">
									<img src="<%= getRelativePath('/images/index/imgD_insta.png'); %>"
										alt="kitchen car SOUR （サワー） Instagram">
								</a>
							</div>
							<div class="c-feature__row">
								<div class="c-feature__colone">
									久留米市を中心に出店<br>フルーツソーダや久留米初のCBDコーヒーなどを中心としたカフェメニューに、こだわりの壺焼き芋を提供。チーズケーキやプリンなどスイーツメニューも充実。おしゃれで可愛いキッチンカーが人気の的です。
								</div>
								<div class="c-feature__coltwo"><img
										src="<%= getRelativePath('/images/index/box4_0.png'); %>"
										alt="kitchen car SOUR （サワー）"></div>
							</div>
							<div class="c-feature__row --three">
								<img src="<%= getRelativePath('/images/index/box4.png'); %>"
									alt="kitchen car SOUR （サワー）">
							</div>
						</div>
						<div class="c-feature__item">
							<div class="c-feature__row --title">
								<img class="c-feature__col --title"
									src="<%= getRelativePath('/images/index/imgE.png'); %>" alt="焼き芋専門店いも繁">
								<a class="c-feature__col --ins" href="https://www.instagram.com/imoshige_honten/"
									target="_blank">
									<img src="<%= getRelativePath('/images/index/imgE_insta.png'); %>"
										alt="焼き芋専門店いも繁 Instagram">
								</a>
							</div>
							<div class="c-feature__row">
								<div class="c-feature__colone">
									北九州市にリアル店舗もある焼いも専門のキッチンカー。常に数種類の芋を用意し、それぞれ異なる焼き方で提供するなど、焼いもへのこだわりはかなり強い。
									焼いもブリュレは1日20個数限定の超人気商品です。
								</div>
								<div class="c-feature__coltwo"><img
										src="<%= getRelativePath('/images/index/box5_0.png'); %>" alt="焼き芋専門店いも繁"></div>
							</div>
							<div class="c-feature__row --three">
								<img src="<%= getRelativePath('/images/index/box5.png'); %>" alt="焼き芋専門店いも繁">
							</div>
						</div>
						<div class="c-feature__item">
							<div class="c-feature__iteminner">
								<p class="c-feature__textbox">
									大分県の紅はるかを収穫から40日以上貯蔵することで、ぐっと甘味を増加させた大分独自ブランド。焼いもにするとツヤツヤの蜜がにじみ出し、口に含むと驚くほどのしっとり感を味わえます。
								</p>
								<a href="https://www.ja-town.com/shop/contents3/farmerinterview3.aspx"
									class="c-feature__btn" target="_blank">
								</a>
							</div>
						</div>
					</div>
					<div class="c-feature__note">※販売メニューは当日、各キッチンカーにてご確認ください。画像や文中のメニューが提供されない場合がございます。あらかじめご了承ください。
					</div>
				</div>
			</div>
		</section>
		<section class="p-index__banner">
			<h2 class="u-none">Section banner</h2>
			<div class="l-inner">
				<div class="c-banner">
					<div class="c-banner__main">
						<div class="c-banner__col c-banner--left"></div>
						<div class="c-banner__col c-banner--right"></div>
					</div>
				</div>
			</div>
		</section>
		<%- include('_footer'); %>